

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DashBoards</title>
    <link  href="{{url_for('static',filename='css/fSelect.css')}}" rel="stylesheet">
    

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon"  href="{{url_for('static',filename='assets/images/favicon.ico')}}" >

<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/style.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/bootstrap-datetimepicker.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/helper.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/bootstrap.min.css')}}">	


	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/bootstrap.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/calendar2/pignose.calendar.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/chartist/chartist.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/font-awesome.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/themify-icons.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/owl.carousel.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/owl.theme.default.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/weather-icons.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/menubar/sidebar.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/bootstrap-datetimepicker.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/menuebar/sidebar.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/bootstrap-datetimepicker.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/style.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/helper.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/weather-icons.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/owl.theme.default.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/owl.carousel.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/themify-icons.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/chartist/chartist.min.css')}}">	

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/lib/helper.css')}}">	


	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900|Poppins:100,200,300,400,500,600,700,800,900|Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">

</head>
<body>


<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
            <div class="nano">
                <div class="nano-content">
                    <ul>
                        <div class="logo"><a href="{{ url_for('dashboard') }}"> 
						<img src="{{url_for('static', filename='assets/images/logo.png')}}" alt="logo" class="logo-large"/>
						<img src="{{url_for('static', filename='assets/images/logo-mini.png')}}"  alt="logo" class="mini-logo" /></a></div>

                        

                            <li><a href="{{ url_for('dashboard') }}"><i class="ti-bar-chart"></i>Dashboards</a></li>
                            
                            <li><a href="{{ url_for('videos') }}"><i class="ti-bar-chart"></i>Videos</a></li>

                        
                        
                        <li><a href="{{ url_for('index') }}"><i class="ti-close"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>      <!-- /# sidebar -->


    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon">
                                <span class="user-avatar">Welcome:
                                    {{name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
<form style="margin-left: 20%" action="/dashboard" method="post" enctype="multipart/form-data">
			<dl>
            <p style="margin-top: -3%">
                <input type="file" name="file1" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p style="margin-top: -12%">
            <input style="margin-left: -10%;padding:10px" href="{{ url_for('dashboard') }}" type="submit" value="Upload MP4" class="btn btn-info">
        </p>
		
    <a style="margin-left: 55% ;margin-top: -19%; padding:10px" class="btn btn-info" href="{{url_for('download')}}">Download CSV</a>

</form>
   </div>


 <video style="margin-left: 70% ; margin-top: -12%" width="340" height="180" controls>
    <source  src="{{image }}" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>

<div class="row" style="  padding-left: 21%">

{{data}}
</div>

{%- with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
            alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}
{% endwith -%}

</body>

<script src="/static/assets/js/lib/jquery.min.js"></script>
<script src="/static/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/static/assets/js/lib/menubar/sidebar.js"></script>
<script src="/static/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->

<script src="/static/assets/js/lib/bootstrap.min.js"></script>
<script src="/static/assets/js/scripts.js"></script>
<script src="/static/assets/js/moment.min.js"></script>
<script src="/static/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- bootstrap -->







</html>
